a{
    touch-action: none;
}
.container-scrollable{
    overflow-y: auto;
}
.text-truncate {
    word-wrap: normal; /* for IE */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.loading{
    text-align: center;
    padding-top:50%;
}
.topDate{
    text-align: center;
    border-bottom:1px solid #CCCCCC;
    -webkit-box-shadow: 0 1px 2px #ccc;
    -moz-box-shadow: 0 1px 2px #ccc;
    box-shadow: 0 1px 2px #ccc;
    height: 35px;
    line-height:35px;
}
.topDate a{
    color: #333;
}
.topDate .icon{
    font-size: 16px;
    cursor: pointer;
}
.itemTable .am-badge{
    width: 20px;
    height: 20px;
    line-height:20px;
    padding:0;
    vertical-align: text-bottom;
}
.itemRows .am-badge{
    width: 40px;
    height: 40px;
    line-height:40px;
    padding:0;
    vertical-align: text-bottom;
    font-size: 1.8rem;
}
.tabbar-label{
    font-size: 14px;
}